# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/

# VSCode and IDEs
.vscode/
.idea/

# OS metadata
.DS_Store

# Byte-compiled / cache / logs
*.log
*.sqlite3
*.db

# Env / secret files
.env
.env.*

# Uvicorn reload artifacts
*.pid

# Docker build artifacts
__docker_build/
*.tar
*.bak

# Misc
*.swp
